.button {
  width: 5rem;
  height: 5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 0.1rem solid var(--creamy-white);
  border-radius: 50%;
  position: fixed;
  bottom: 5rem;
  right: 5rem;
  z-index: 99;
  background-color: transparent;
  cursor: pointer;
  transition: all 0.4s;
  scale: 0;

  &:hover {
    border-color: var(--deep-orange);

    & .icon {
      transform: translateY(-0.5rem);

      & path {
        color: var(--deep-orange);
      }
    }
  }

  &.show {
    scale: 1;
  }
}

.icon {
  transition: all 0.4s;

  & path {
    transition: all 0.4s;
    color: var(--creamy-white);
    font-size: 1.8rem;
  }
}

@media only screen and (max-width: 768px) {
  .button {
    width: 4rem;
    height: 4rem;
  }
}

@media only screen and (max-width: 525px) {
  .button {
    width: 3.8rem;
    height: 3.8rem;
    right: 2rem;
    bottom: 2rem;
  }
}
