.button {
  width: fit-content;
  color: var(--white-gray);
  font-size: 2rem;
  background-color: transparent;
  padding: 2rem 2.8rem;
  display: flex;
  align-items: center;
  gap: 1.6rem;
  font-weight: 400;
  cursor: pointer;
  border-radius: 0.8rem;
  transition: all 0.4s;
  text-transform: uppercase;
  border: 0.1rem solid white;
  outline: 0;

  &:hover {
    color: var(--deep-orange) !important;
    border-color: var(--deep-orange);

    & * {
      color: var(--deep-orange) !important;
    }
  }
}

@media only screen and (max-width: 1000px) {
  .button {
    font-size: 1.8rem;
    padding: 1.8rem 2.4rem;
    gap: 1.2rem;
  }
}

@media only screen and (max-width: 768px) {
  .button {
    font-size: 1.6rem;
    padding: 1.2rem 1.8rem;
  }
}
