.container {
  width: 100%;
  z-index: 9;
  display: flex;
}

.image {
  width: 60%;
  height: 50rem;
  object-fit: cover;
}

.link_container {
  display: flex;
  align-items: center;
  gap: 2rem;
  border: 0.1rem solid var(--creamy-white);
  padding: 1rem;
  padding-inline: 3rem;
  border-radius: 4rem;
  text-decoration: none;
  transition: all 0.4s;

  &:hover {
    border-color: var(--deep-orange);

    & .link {
      color: var(--deep-orange);
    }

    & .arrow {
      transform: rotateZ(90deg);

      & path {
        color: var(--deep-orange);
      }
    }
  }
}

.link {
  font-weight: 400;
  color: var(--creamy-white);
  font-size: 2.8rem;
  transition: all 0.4s;
}

.name_container {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: space-between;
  width: 40%;
  height: 100%;
  padding: 0.5rem;
}

.name {
  font-weight: 400;
  color: var(--creamy-white);
  font-size: 4.9rem;
  word-spacing: 1rem;
  text-align: right;
}

.arrow {
  cursor: pointer;
  transform: rotateZ(45deg);
  height: 2rem;
  transition: all 0.4s;

  & path {
    transition: all 0.4s;
    color: var(--creamy-white);
  }
}

@media only screen and (max-width: 1440px) {
  .image {
    height: 40rem;
  }

  .name {
    font-size: 4rem;
  }

  .link {
    font-size: 2.4rem;
  }
}

@media only screen and (max-width: 1000px) {
  .image {
    height: 30rem;
  }

  .name {
    font-size: 3.5rem;
  }

  .link {
    font-size: 2.4rem;
  }
}

@media only screen and (max-width: 768px) {
  .name {
    font-size: 3rem;
  }

  .link {
    font-size: 2rem;
  }

  .arrow {
    height: 1.5rem;
  }

  .container {
    flex-direction: column;
  }

  .image {
    height: 35rem;
    min-height: 35rem;
    width: 100%;
  }

  .name_container {
    width: 100%;
  }

  .name_container {
    flex-direction: row;
    align-items: flex-start;
    column-gap: 1rem;
    padding-top: 2rem;
    padding-inline: 2rem;
  }
}

@media only screen and (max-width: 525px) {
  .image {
    height: 25rem;
    min-height: 25rem;
  }

  .name {
    font-size: 2rem;
  }

  .link {
    font-size: 1.6rem;
  }

  .arrow {
    height: 1.2rem;
  }

  .link_container {
    padding-inline: 2rem;
  }
}
