.architecture_container {
  position: fixed;
  top: 0;
  right: 0;
  width: 100vw;
  height: 100dvh;
  background: rgb(255, 255, 255);
  background: linear-gradient(
    90deg,
    rgba(255, 255, 255, 0) 0%,
    rgba(0, 0, 0, 1) 65%,
    rgba(0, 0, 0, 1) 100%
  );
  backdrop-filter: blur(0.1rem);
  display: flex;
  justify-content: flex-end;
  z-index: 999;
}

.wrapper {
  width: 30vw;
  height: 100%;
  position: relative;
  padding-block: 5rem;
}

.list {
  width: 100%;
  height: 100%;
  overflow-y: auto;
  direction: rtl;
  padding-inline: 1rem;
  display: flex;
  flex-direction: column;
  row-gap: 2rem;

  &::-webkit-scrollbar {
    width: 0.5rem;

    &:horizontal {
      height: 1rem;
    }
  }
}

.close {
  position: absolute;
  top: 2rem;
  right: 2rem;
  font-size: 2.5rem;
  cursor: pointer;

  & path {
    color: var(--creamy-white);
  }
}

.list_item {
  width: 100%;
  height: calc(25dvh - 2rem);
  min-height: calc(25dvh - 2rem);
  position: relative;

  &:hover .angle {
    opacity: 1;
    transform: translateX(0.5rem);
  }
}

.link {
  width: 100%;
  height: 100%;
  text-decoration: none;
}

.image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  filter: brightness(0.7);
}

.name {
  font-weight: 400;
  color: #ffffff;
  font-size: 2.5rem;
  word-spacing: 1rem;
  position: absolute;
  left: 0;
  bottom: 1rem;
  text-shadow: -0.3rem 0.2rem 0.2rem #000;
  backdrop-filter: blur(0.1rem);
  padding: 1rem;
  display: flex;
  align-items: center;
  column-gap: 1rem;
  flex-direction: row-reverse;
}

.angle {
  font-size: 1.4rem;
  transition: opacity 0.2s, transform 0.4s;
  opacity: 0;

  & path {
    color: white;
  }
}

@media only screen and (max-width: 1200px) {
  .wrapper {
    width: 40vw;
  }
}

@media only screen and (max-width: 1000px) {
  .name {
    font-size: 2rem;
  }
}

@media only screen and (max-width: 768px) {
  .name {
    font-size: 1.8rem;
  }

  .wrapper {
    width: 45vw;
  }
}

@media only screen and (max-width: 525px) {
  .name {
    font-size: 1.4rem;
  }

  .wrapper {
    width: 55vw;
  }
}
