.banner {
  width: 100vw;
  height: 100dvh;
  position: relative;
  scroll-snap-align: start;
}

.banner_bg {
  width: 100%;
  height: 100%;
  background-image: url("/images/crane.webp");
  background-size: cover;
  background-position: 45%;
  background-repeat: no-repeat;
}

.text {
  width: 60rem;
  position: absolute;
  right: 10rem;
  top: 20%;
  color: white;
  font-size: 2.4rem;
  z-index: 3;
  text-align: justify;
}

.overlay {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  z-index: 2;
  background: linear-gradient(0deg, #fff0 0%, #0003 12%, #000 100%);
}

.firstThree,
.seconThree {
  position: absolute;
  display: flex;
  align-items: center;
  column-gap: 3rem;
  z-index: 3;
}

.firstThree {
  top: 10rem;
  left: 8rem;
}

.info_container {
  position: absolute;
  z-index: 3;
  width: 60rem;
  bottom: 10rem;
  right: 10rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  row-gap: 3rem;
}

.info_item {
  width: 17.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

.info_item_count {
  font-size: 4rem;
  font-family: var(--font-satoshi);
  color: white;
}

.info_item_name {
  font-size: 2.4rem;
  font-weight: 300;
  font-family: var(--font-satoshi);
  color: white;
}

@media only screen and (max-width: 1200px) {
  .banner_bg {
    background-position: 31%;
  }

  .info_container {
    width: 55rem;
  }

  .info_item_name {
    font-size: 2.2rem;
  }
}

@media only screen and (max-width: 768px) {
  .text {
    width: 50rem;
    font-size: 2rem;
    left: 0;
    right: 0;
    margin: 0 auto;
  }

  .info_container {
    left: 0;
    right: 0;
    margin: 0 auto;
  }
}

@media only screen and (max-width: 525px) {
  .text {
    width: 100%;
    font-size: 1.8rem;
    right: 0;
    left: 0;
    margin: 0 auto;
    padding-inline: 3rem;
  }

  .info_container {
    width: 38rem;
    left: 0;
    right: 0;
    margin: 0 auto;
  }

  .info_item_name {
    font-size: 1.8rem;
  }

  .info_item {
    width: 15rem;
    gap: 1rem;
  }

  .info_item_count {
    font-size: 3rem;
  }
}
