.container {
  width: 100%;
  background-color: black;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.sticky {
  width: 100%;
  height: 100vh;
  position: sticky;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.sticky_text {
  color: var(--deep-orange);
  font-weight: 400;
  font-size: 12rem;
}

.content {
  width: 100%;
  padding-inline: 13rem;
  height: fit-content;
  backdrop-filter: blur(4px);
}

.row {
  display: flex;
  margin-bottom: 30rem;

  &:nth-child(odd) {
    justify-content: flex-start;
  }

  &:nth-child(even) {
    justify-content: flex-end;
  }

  &:last-child {
    margin-bottom: 0;
  }

  // &:first-child {
  //   justify-content: center;
  // }
}

.empty {
  width: 100%;
  height: 100vh;
  backdrop-filter: blur(4px);
}

.row:nth-child(even) .item {
  flex-direction: row-reverse;

  .text_container_class {
    align-items: flex-start;
    & * {
      text-align: left !important;
    }
  }
}
