.footer_quote_container {
  margin-bottom: 5rem;
  display: flex;
  justify-content: center;
}

.footer_quote_wrapper {
  max-width: 70rem;
  position: relative;
}

.footer_quote {
  color: var(--creamy-white);
  font-family: var(--font-satoshi);
  font-weight: 400;
  font-size: 2.6rem;
  text-align: center;
  margin-bottom: 2rem;
  font-style: italic;
}

.footer_quote_author {
  color: var(--deep-orange);
  font-weight: 400;
  font-size: 3rem;
  position: relative;
  left: 60%;
}

@media only screen and (max-width: 768px) {
  .footer_quote {
    font-size: 2rem;
  }

  .footer_quote_author {
    font-size: 2.4rem;
  }
}

@media only screen and (max-width: 525px) {
  .footer_quote_container {
    margin-bottom: 3rem;
  }

  .footer_quote {
    font-size: 1.6rem;
    margin-bottom: 1rem;
  }

  .footer_quote_author {
    font-size: 2rem;
  }
}
