.wrapper {
  width: 100%;
  display: flex;
  justify-content: center;
}

.form {
  width: 88rem;
  height: fit-content;
  max-width: 100%;
  padding: 3.2rem;
  background-color: var(--matt-black);
  border-radius: 1.6rem;
}

.input {
  margin-bottom: 2.6rem;
}

.submit_button {
  float: right;
}

.clear {
  clear: both;
}

.envelope {
  transition: all 0.4s;

  & path {
    transition: all 0.4s;
    color: var(--white-gray);
  }
}

@media only screen and (max-width: 1000px) {
  .form {
    width: 70rem;
    padding: 2.6rem;
  }
}

@media only screen and (max-width: 1000px) {
  .form {
    width: 70rem;
    padding: 2.6rem;
  }
}

@media only screen and (max-width: 768px) {
  .form {
    width: 100%;
    padding: 2rem;
  }

  .wrapper {
    padding-inline: 3rem;
  }

  .input {
    margin-bottom: 2rem;
  }
}
