.page_head_text_wrapper {
  width: 100%;
  height: fit-content;
  padding-block: 13.7rem 10rem;
  padding-inline: 4rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.page_header {
  color: var(--creamy-white);
  font-size: 15.7rem;
  font-weight: 400;
}

@media only screen and (max-width: 1000px) {
  .page_head_text_wrapper {
    padding-block: 10rem 8rem;
  }

  .page_header {
    font-size: 10rem;
  }
}

@media only screen and (max-width: 525px) {
  .page_head_text_wrapper {
    padding-block: 9rem 5rem;
  }

  .page_header {
    font-size: 8rem;
  }
}
