.top_part {
  width: 100vw;
  position: relative;
  background-image: url("/images/banner.webp");
  background-repeat: repeat-y;
  background-size: cover;
  background-position: center right;
  background-attachment: fixed;
  padding: 0;
  margin: 0;
}
