.page_head_text_wrapper {
  width: 100%;
  height: fit-content;
  padding-block: 13.7rem;
  padding-inline: 4rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.page_header {
  color: var(--creamy-white);
  font-size: 15.7rem;
  font-weight: 400;
}

.reviews_list {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  row-gap: 4rem;
  padding-inline: 4rem;
}
