.page_head_text_wrapper {
  width: 100%;
  height: fit-content;
  padding-block: 13.7rem;
  padding-inline: 4rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.page_header {
  color: var(--creamy-white);
  font-size: 15.7rem;
  font-weight: 400;
}

.reviews_list {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  row-gap: 4rem;
  padding-inline: 4rem;
}

@media only screen and (max-width: 1200px) {
  .page_header {
    font-size: 12rem;
  }
}

@media only screen and (max-width: 1000px) {
  .page_header {
    font-size: 10rem;
  }
}

@media only screen and (max-width: 768px) {
  .page_head_text_wrapper {
    padding-block: 10rem 8rem;
  }

  .page_header {
    font-size: 8rem;
  }

  .reviews_list {
    row-gap: 3rem;
    padding-inline: 3rem;
  }
}

@media only screen and (max-width: 525px) {
  .page_head_text_wrapper {
    padding-block: 9rem 5rem;
  }

  .page_header {
    font-size: 6rem;
  }
}
