:root {
  --deep-orange: #ff6017;
  --light-orange: #ff7738;
  --creamy-white: #faf5ea;
  --white-5: #ffffff0d;
  --white-10: #ffffff1a;
  --white-30: #ffffff4d;
  --white-50: #ffffff80;
  --white-80: #ffffffcc;
  --matt-black: #141414;

  --background: #ffffff;
  --foreground: #171717;

  --gray-light: #9c9ca4;
  --gray-transparent: #f4f4f6e8;
}

@media (prefers-color-scheme: dark) {
  :root {
    --deep-orange: #ff6017;
    --light-orange: #ff7738;
    --creamy-white: #faf5ea;
    --white-5: #ffffff0d;
    --white-10: #ffffff1a;
    --white-30: #ffffff4d;
    --white-50: #ffffff80;
    --white-80: #ffffffcc;
    --matt-black: #141414;

    --background: #0a0a0a;
    --foreground: #ededed;

    --gray-light: #9c9ca4;
    --gray-transparent: #f4f4f6e8;
  }
}
