@keyframes top-bottom {
  from {
    top: -0.4rem;
  }
  to {
    top: 0.3rem;
  }
}

.banner {
  width: 100vw;
  height: 100dvh;
  position: relative;
}

.title {
  font-weight: 300;
  color: var(--creamy-white);
  font-size: 14rem;
  position: absolute;
  top: 12rem;
  left: 4rem;
  max-width: 85%;
  line-height: 13rem;
  text-shadow: 0.7rem 0.5rem 0.6rem #000;
}

.highlighted {
  font-weight: 300;
  color: var(--deep-orange);
  font-size: 14rem;
  text-shadow: none;
  line-height: 13rem;
}

.text {
  font-weight: 300;
  color: var(--creamy-white);
  font-size: 2.6rem;
  font-family: var(--font-satoshi);
  position: absolute;
  bottom: 17rem;
  left: 6rem;
  max-width: 60rem;
}

@media only screen and (max-width: 1440px) {
  .title {
    font-size: 12rem;
  }

  .highlighted {
    font-size: 12rem;
  }
}

@media only screen and (max-width: 1200px) {
  .title {
    font-size: 11rem;
    line-height: 11rem;
    top: 15rem;
  }

  .highlighted {
    font-size: 11rem;
    line-height: 11rem;
  }
  .text {
    font-size: 2.4rem;
    bottom: 20rem;
  }
}
