.banner_wrapper {
  width: 100vw;
  height: 100dvh;
  position: relative;
  // scroll-snap-align: start;
}

.banner {
  width: 100%;
  height: 100%;
  background-image: url("/images/banner.webp");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 0 right;
}

.title {
  font-weight: 300;
  color: var(--creamy-white);
  font-size: 14rem;
  position: absolute;
  top: 12rem;
  left: 4rem;
  max-width: 85%;
  line-height: 13rem;
  text-shadow: 0.7rem 0.5rem 0.6rem #000;
}

.highlighted {
  font-weight: 300;
  color: var(--deep-orange);
  font-size: 14rem;
  text-shadow: none;
  line-height: 13rem;
}

.text {
  font-weight: 300;
  color: var(--creamy-white);
  font-size: 2.6rem;
  font-family: var(--font-satoshi);
  position: absolute;
  bottom: 17rem;
  left: 6rem;
  max-width: 60rem;
}

@media only screen and (max-width: 1440px) {
  .banner {
    background-position: 24% 0;
  }

  .title {
    font-size: 12rem;
  }

  .highlighted {
    font-size: 12rem;
  }
}

@media only screen and (max-width: 1200px) {
  .banner {
    background-position: 48% 0;
  }

  .title {
    font-size: 11rem;
    line-height: 11rem;
    top: 15rem;
  }

  .highlighted {
    font-size: 11rem;
    line-height: 11rem;
  }

  .text {
    font-size: 2.4rem;
    bottom: 20rem;
  }
}

@media only screen and (max-width: 768px) {
  .title {
    font-size: 9rem;
    line-height: 9rem;
    top: 20%;
  }

  .highlighted {
    font-size: 9rem;
    line-height: 9rem;
  }

  .text {
    font-size: 2.4rem;
    bottom: 20%;
  }
}

@media only screen and (max-width: 768px) {
  .banner {
    background-position: 62% 0;
  }

  .title {
    font-size: 6rem;
    line-height: 6rem;
    top: 30%;
  }

  .highlighted {
    font-size: 6rem;
    line-height: 6rem;
  }

  .text {
    font-size: 2rem;
    bottom: 20%;
    max-width: 42rem;
  }
}
